header{
	background-color: rgba(221, 160, 221,.8);
	color: #fff;
	height: 60px;
	padding: 5px 0;
	display: flex;
	justify-content: space-between;
	z-index: 1;
}

.fixed{
	position: fixed;
	width: 100%;
	margin-top: -70px;
}

.header-left{
	display: flex;
	align-items: center;
	font-size: 25px;
	font-family: cursive;
}

.header-left span strong{
	color: blue;
}
.header-left i{
	font-size: 40px;
	margin-left: 70px;
	margin-right: 20px;
	display: flex;
	align-items: center;
}

.header-right{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 80px;
}

.header-right li{
	margin-left: 20px;
}

.header-right li .icon{
	font-size: 40px;
	color: #00008b;
}

.header-right li:first-child{
	margin-left: 0;
}

.main{
	background-image: url(../remake-img/background.webp);
	height: 800px;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: #fff;
	background-size: cover;
	background-repeat: no-repeat;
	margin-top: 60px;
	font-family: cursive;
}

#margin-for-fixed{
	margin-top: 70px;
}

.miyako{
	opacity: 0.8;
	font-size: 80px;
}

.main p{
	font-size: 26px;
}

.one-word{
	font-size: 33px;
	margin-top: 110px;
}

.one-word li span{
	margin-top: 30px;
	background: linear-gradient(transparent 40%,#f4a460 120% );
}

.one-word li{
	margin-top: 30px;
}

.btn-group{
	display: flex;
	justify-content: center;
}

.btn{
	height: 55px;
	width:180px;
	color: #fff;
	cursor: pointer;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 140px 0 80px;
	font-size: 24px;
	margin-right: 50px;
}

.btn:last-child{
	margin-right: 0;
}

.register{
	background-color: rgba(244, 164, 96,.7);
	border: 3px solid rgba(244, 164, 96,.5);
}

a{
	text-decoration: none;
}

.register:hover{
	background-color:rgba(244, 164, 96,1);
}

.login{
	background-color: rgba(150, 143, 126,.6);
	border: 3px solid rgba(150, 143, 126,.4);
}

.login:hover{
	background-color: rgba(150, 143, 126,1);
}
/* main ここまで */

/*  main2  */
.main2{
	width: 60%;
	margin: 0 auto;
	margin-top: 70px;
	font-family: cursive;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.main2 h2{
	font-size: 32px;
	font-weight: bold;
}

.circle{
	display: inline-block;
	width: 70px;
	height: 70px;
	border-radius: 50%;
	background-color: rgba(127, 255, 212,.7);
}

.main2 span{
	margin-top: 24px;
	line-height: 35px;
	font-size: 20px;
}
.read-more{
	font-size: 18px;
	margin-top: 50px;
	background-color: #fff;
	border: 2px solid;
	box-sizing: border-box;
	cursor: pointer;
	transition: 800ms ease all;
	outline: none;
}

.read-more:hover{
	background-color: rgba(60, 60, 60,.9);
	color: #fff;
	border: 2px solid #ffe4c4;
}

.read-more:after{
	right: inherit;
	top: inherit;
	left: 0;
	bottom: 0;
}

.read-more:hover:before, .read-more:hover:after{
	width: 100%;
	transition: 800ms ease all;
}
/*  main2　ここまで  */
/*  menu  */
.menu{
	width: 70%;
	margin: 0 auto;
	margin-bottom: 100px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.recommend{
	font-weight: bold;
	font-size: 35px;
	font-family: cursive;
	margin: 90px 0 35px;
	text-align: center;
}

.circle2{
	display: inline-block;
	width: 70px;
	height: 70px;
	border-radius: 50%;
	background-color: rgba(240, 230, 140,.7);
}

.img-box{
	margin-top: 10px;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
 .img-box li{
 	width: 80%;
 	margin-top: 80px;
 	display: flex;
 	justify-content: center;
 }

 .img-box li img{
 	height: 330px;
 	width: 330px;
 	border-radius: 10px;
 	transition: 1.0s;
 	transform: rotate(0deg);
 }

 .img1:hover{
 	transform: rotateY( 180deg);
 }

 .img2:hover{
 	transform: rotateY( 180deg);
 }

 .img3:hover{
 	transform: rotateY( 180deg);
 }

 .img-box li .span{
 	width: 50%;
 	margin-left: 60px;
 }

 .img-box li .right-span{
 	margin-left: 0;
 	margin-right: 60px;
 }

 .img-box span{
 	display: flex;
 	flex-direction: column;
 	align-items: center;
 	justify-content: center;
 }

 .img-box span h3{
 	width: 100%;
 	margin: 3px 0 24px;
 	font-size: 27px;
 	font-weight: bold;
 	font-family: cursive;
 	text-align: center;
 }

 .img-box span p{
 	font-size: 18px;
 	line-height: 23px;
 }

 .recommend-button{
 	margin-top: 25px;
 	font-size: 13px;
 }

 /* section */
 section{
 	width: 80%;
 	margin: 0 auto;
 	display: flex;
 	flex-direction: column;
 	align-items: center;
 }

 section h3{
 	font-size: 35px;
 	font-weight: bold;
 	font-family: cursive;
 }

 section .circle3{
 	display: inline-block;
	width: 70px;
	height: 70px;
	border-radius: 50%;
	background-color: rgba(0, 255, 255,.7);
	margin-top: 24px;
 }

 .gallery{
 	margin-top: 55px;
 	display: flex;
 	justify-content: center;
 }

 .gallery img{
 	height: 180px;
 	width: 220px;
 	margin-left: 20px;
 	margin-right: 20px;
 }

 .ga{
 	cursor: pointer;
 	height: 150px;
 }

 .text{
 	width: 60%;
 	margin: 0 auto;
 	text-align: center;
 	margin-top: 60px;
 	font-size: 22px;
 }

 .share-icon{
 	display: flex;
 	flex-direction: column;
 	justify-content: center;
 	margin-top: 25px;
 }

 .btn-twitter {
  display: inline-block;
  padding: .6em 1em .6em 2.5em;
  margin: 0 0 .4em;
  background-color: #55acee;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  position: relative;
  text-decoration: none;
}
.btn-twitter::after {
  position: absolute;
  content: '\f099';
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
  top: 50%;
  left: .5em;
  transform: translateY(-50%);
  font-size: 1.2em;
}

.btn-facebook {
  display: inline-block;
  padding: .6em .8em .6em 2.5em;
  margin: 0 0 .4em;
  background-color: #315096;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  position: relative;
  text-decoration: none;
  transition: all 0.3s ease 0s;
}
.btn-facebook::after {
  position: absolute;
  content: '\f09a';
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
  top: 50%;
  left: .5em;
  transform: translateY(-50%);
  font-size: 1.2em;
}

.btn-line {
  display: inline-block;
  padding: .6em 1em .6em 2.5em;
  margin: 0 0 .4em;
  background-color: #1dcd00;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  position: relative;
  text-decoration: none;
  transition: all 0.3s ease 0s;
}
.btn-line::after {
  position: absolute;
  content: "\f3c0";
  font-family: 'Font Awesome 5 Brands';
  top: 50%;
  left: .5em;
  transform: translateY(-50%);
  font-size: 1.2em;
  font-weight: 400;
}

.share-icon li{
	margin-top: 15px;
}


 /*section ここまで*/

 .contact{
 	height: 490px;
 	background-image: url(../remake-img/d0899e77b9a56b4648a416307ffeb99a.jpg);
 	background-size: cover;
 	margin-top: 60px;
 	display: flex;
 	justify-content: center;
 	align-items: center;
 }

 .form-field{
 	background-color: rgba(112, 128, 144,.3);
 	width: 60%;
 }

.contact-us{
	font-size: 25px;
	font-weight: bold;
	font-family: cursive;
	padding-top: 20px;
	text-align: center;
}

.form-contact{
	display: flex;
	justify-content: center;
	margin-top: 15px;
}

.form{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.form p{
	line-height: 18px;
	font-size: 15px;
	font-weight: bold;
}

.form p:first-child{
	margin-top: 17px;
}

.phone{
	margin-top: 20px;
}

.phone-icon{
	font-size: 26px;
	margin-right: 20px;
	color: #2e8b57;
}

.phone-number{
	font-size: 26px;
	font-weight: bold;
	color: #2e8b57;
}

.input{
	margin-top: 18px;
}

.opinion{
	height: 40px;
	width: 165px;
}

.form-btn{
	display: flex;
	justify-content: center;
	margin: 20px 0 17px;
}

.submit{
	background-color: rgba(0, 153, 255,.5);
	height: 30px;
	width: 100px;
	color: #fff;
	border: 3px solid rgba(0, 153, 255,.3);
	border-radius: 5px;
	cursor: pointer;
}

.submit:hover{
	background-color: rgba(0,153,255,1);
}

.footer{
	color: #fff;
	background-color: rgba(221, 160, 221,.8);
	height: 65px;
	display: flex;
	justify-content: space-between;
	padding: 5px 0;
}

.footer-left{
	display: flex;
	align-items: center;
	margin-left: 50px;
}

.footer-left li{
	margin-left: 30px;
}

.footer-right{
	font-size: 20px;
	display: flex;
	align-items: center;
	margin-right: 70px;
}






/* レスポンシブル対応 */

/*　小型pc　*/
@media screen and (max-width: 1280px){
	.menu{
		width: 100%;
	}

	.gallery img{
		height: 140px;
		width: 180px;
	}

	.footer li{
		font-size: 13px;
	}

	.footer-right{
		font-size: 13px;
	}
}
/*　タブレット　*/
@media screen and(max-width: 960px){
	.menu{
		width: 100%;
	}

	.gallery img{
		height: 140px;
		width: 180px;
	}

	.footer li{
		font-size: 13px;
	}

	.footer-right{
		font-size: 13px;
	}
}
/*　スマホ　*/
@media screen and (max-width: 480px){
	body{
		min-width: 375px;
	}
}
